body{
    margin:0;
    padding:0;
    background: black;


}
header{
    height:25em;
color:white;
font-weight: lighter;
font-family: 'Oswald', sans-serif;
padding:3em;
display: flex;
align-items: center;
justify-content: space-evenly;
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(70,20,0,1) 80%, rgba(126,36,0,1) 100%);
}
img{
    height:25em;
    width:25em;
    border-radius: 30px;
}

.aboutme{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color:white;
    padding: 3em;
    font-family: 'Oswald', sans-serif;
}
.cv{
    float: right;
    margin-top: 3em;
}
a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
        color: white;
    background: linear-gradient(90deg, #753117, #7e2400);
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
}
.skillsme {
    color:white;
    padding: 6em;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(0deg, rgba(126,36,0,1) 0%, rgba(70,20,0,1) 20%, rgba(0,0,0,1) 100%);;

}
.can {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5em;
}

.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    width: 15em;
}

ul{
    text-align: center;
    padding: 0;
    line-height: 2em;
    font-size:1em;
}
li{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}